---
layout: page
title: Fale conosco!
permalink: /fale-conosco/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Fale conosco</h1>
          <p>Deixe-nos uma mensagem para que possamos entrar em contato assim que possível.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Seu nome">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Seu email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Assunto">
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form>
            <div class="form-group-2">
              <textarea class="form-control" rows="3" placeholder="Sua mensagem"></textarea>
            </div>
            <button class="btn btn-default" type="submit">Enviar mensagem</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Nós entregamos experiências digitais.</h2>
          <p>Leia mais sobre nossa fisolofia de trabalho. Julgue por si mesmo o trabalho e os resultados que atingimos para outros clientes, e o impacto que podem ter para seu negócio.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Conte-nos sua história</a>
        </div>
      </div>
    </div>
  </div>
</section>
