---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">UM TEMPLATE <br> PARA MINHA EMPRESA</h1>
          <p class="animated fadeInUp">Um local na Web para colocar informações gerais sobre seu negócio, <br / > de forma a alavancar acessos e promover vendas</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Um pouco sobre nós</h2>
            <p>Uma empresa que ajuda seu negócio a alavancar. Este é nosso objetivo de forma bastante genérica,
              apenas para que tenha ideia de como este template ficaria legal como um site do seu próprio negócio!</p>
          </div>
          <p>Saiba mais sobre nós, nossa visão, missão, valores e história na página <a href="{{ site.baseurl }}/quem-somos">Quem somos</a> </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Nós acreditamos em qualidade</h2>
      <p>Nossos produtos tem alta qualidade.</p>
      <a href="{{ site.baseurl }}/produtos-servicos" class="btn btn-view-works">Veja o que fazemos</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nossos serviços</h2>
        <p>Prezamos pela qualidade e por um trabalho feito com esmero e com atenção aos detalhes.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Detalhes do serviço podem ser inseridos neste espaço. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Detalhes do serviço podem ser inseridos neste espaço. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Detalhes do serviço podem ser inseridos neste espaço. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Detalhes do serviço podem ser inseridos neste espaço. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Detalhes do serviço podem ser inseridos neste espaço. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Detalhes do serviço podem ser inseridos neste espaço. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Detalhes do serviço podem ser inseridos neste espaço. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Detalhes do serviço podem ser inseridos neste espaço. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Nós entregamos experiências digitais.</h2>
          <p>Leia mais sobre nossa fisolofia de trabalho. Julgue por si mesmo o trabalho e os resultados que atingimos para outros clientes, e o impacto que podem ter para seu negócio.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Conte-nos sua história</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fatos divertidos sobre nós</h2>
        <p>Aqui neste espaço pode-se inserir alguns fatos divertidos sobre sua empresa. Ou a seção pode ser reformulada para conter outros tipos de conteúdo. O limite é a sua imaginação - mas com critério ;)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-chatboxes-outline"></i>
                <h4 class="counter">10000</h4>
                <span>Alterações em template</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-glasses-outline"></i>
                <h4 class="counter">127</h4>
                <span>Horas de sono suspensas</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-compose-outline"></i>
                <h4 class="counter">20000</h4>
                <span>Copos de café</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-timer-outline"></i>
                <h4 class="counter">357</h4>
                <span>Linhas de código nesta semana</span>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>"Esta empresa é muito legal!"</p>
                <div class="user">
                  <img src="img/item-img1.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>"Esta empresa é mesmo muito legal!"</p>
                <div class="user">
                  <img src="img/item-img1.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>"Eu contrataria esta empresa com certeza!"</p>
                <div class="user">
                  <img src="img/item-img1.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
