---
layout: page
title: Quem somos
permalink: /quem-somos/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Quem somos</h1>
          <p>Saiba mais sobre nossa visâo, missão, valores e história</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% for post in site.posts %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}
