<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/quem-somos">Quem somos</a></li>
            <li><a href="{{ site.baseurl }}/fale-conosco">Fale conosco</a></li>
            <li><a href="{{ site.baseurl }}/produtos-servicos">Produtos e serviços</a></li>
            <li><a href="{{ site.baseurl }}/onde-estamos">Onde estamos</a></li>
            <li><a href="{{ site.baseurl }}/termos">Termos</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
