@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?stsype");
  src: url("../fonts/icomoon/icomoon.eot?stsype#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?stsype") format("truetype"), url("../fonts/icomoon/icomoon.woff?stsype") format("woff"), url("../fonts/icomoon/icomoon.svg?stsype#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #7f7f7f;
  background: #f9f6f3;
  position: relative;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

.fh5co-overflow {
  overflow: hidden;
  position: relative;
  height: 100% !important;
}

a {
  color: #FF5126;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #FF5126;
  outline: none;
  text-decoration: none;
}

p {
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

::-webkit-selection {
  color: #fff;
  background: #FF5126;
}

::-moz-selection {
  color: #fff;
  background: #FF5126;
}

::selection {
  color: #fff;
  background: #FF5126;
}

#wrap {
  overflow-x: hidden;
  position: relative;
  z-index: 5;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px !important;
}
.btn.btn-sm {
  padding: 4px 15px !important;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #FF5126;
  color: #fff;
  border: 2px solid #FF5126;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ff6540 !important;
  border-color: #ff6540 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #FF5126;
  border: 2px solid #FF5126;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #FF5126;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.link-with-icon {
  padding-right: 20px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.link-with-icon:hover {
  padding-right: 30px;
}
.link-with-icon:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  font-size: 12px;
}

.form-control {
  -webkit-appearance: none;
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #FF5126;
}

.form-group label {
  font-weight: normal;
}

.boxed #fh5co-page {
  max-width: 1140px;
  margin: 0 auto;
  background: #fff;
}
@media screen and (max-width: 1200px) {
  .boxed #fh5co-page {
    max-width: 1000px;
  }
}
.boxed #fh5co-page .container {
  max-width: 1060px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .boxed #fh5co-page .container {
    max-width: 960px;
  }
}

#fh5co-header {
  padding: 30px 0;
  margin-bottom: 10px;
}
#fh5co-header #fh5co-logo {
  float: left;
  margin-left: -10px;
}
#fh5co-header #fh5co-main-nav {
  float: right;
  margin-right: -7px;
}
@media screen and (max-width: 768px) {
  #fh5co-header #fh5co-main-nav {
    display: none;
  }
}
#fh5co-header #fh5co-main-nav ul {
  margin: 0px 0 0 0;
  padding: 0;
}
#fh5co-header #fh5co-main-nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0;
  padding: 0;
}
#fh5co-header #fh5co-main-nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  padding: 15px 7px;
  line-height: 1.2;
}
#fh5co-header #fh5co-main-nav ul li a:hover, #fh5co-header #fh5co-main-nav ul li a:active, #fh5co-header #fh5co-main-nav ul li a:focus {
  color: #FF5126;
}
#fh5co-header #fh5co-main-nav ul li.cta {
  margin-left: 20px;
}
#fh5co-header #fh5co-main-nav ul li.cta a {
  padding: 10px 20px;
  background: #FF5126;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header #fh5co-main-nav ul li.cta a:hover {
  background: #ff5d35;
}
#fh5co-header #fh5co-main-nav ul li.has-sub > div > a {
  position: relative;
  padding-right: 19px;
}
#fh5co-header #fh5co-main-nav ul li.has-sub > div > a:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
  font-size: 18px;
  color: #b3b3b3;
}
#fh5co-header #fh5co-main-nav ul li.has-sub > div > a:hover:after {
  color: #FF5126;
}
#fh5co-header #fh5co-main-nav ul li.has-sub .drop-down-menu {
  position: relative;
  padding: 15px 7px;
}
#fh5co-header #fh5co-main-nav ul li.has-sub .drop-down-menu .dropdown-menu-wrap {
  position: absolute;
  z-index: 1001;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 190px;
  left: 50%;
  margin-left: -95px;
  margin-top: 17px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-header #fh5co-main-nav ul li.has-sub .drop-down-menu .dropdown-menu-wrap:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
#fh5co-header #fh5co-main-nav ul li.has-sub .drop-down-menu .dropdown-menu-wrap ul {
  padding: 0;
  margin: 0;
}
#fh5co-header #fh5co-main-nav ul li.has-sub .drop-down-menu .dropdown-menu-wrap ul li {
  padding: 0;
  margin: 0;
  display: block;
  line-height: 1.5;
}
#fh5co-header #fh5co-main-nav ul li.has-sub .drop-down-menu .dropdown-menu-wrap ul li a {
  display: block;
  padding: 5px 0px;
}
#fh5co-header #fh5co-main-nav ul li.has-sub .drop-down-menu.active .dropdown-menu-wrap {
  margin-top: 17px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  visibility: visible;
  opacity: 1;
}
#fh5co-header #fh5co-main-nav ul li.active > a {
  color: #FF5126;
}
#fh5co-header #fh5co-main-nav ul li.has-sub.active .drop-down-menu > a {
  color: #FF5126;
}
#fh5co-header #fh5co-main-nav ul li.has-sub.active .drop-down-menu > a:after {
  color: #FF5126;
}

#fh5co-intro {
  padding: 4em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-intro {
    padding: 3em 0;
  }
}

.fh5co-lead {
  font-size: 20px;
  line-height: 1.5;
}

#map {
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.fh5co-map-form {
  margin-top: -80px;
  position: relative;
  z-index: 10001;
  margin-bottom: 100px;
}

.fh5co-map {
  position: relative;
}
.fh5co-map form, .fh5co-map .row {
  padding-top: 0;
  margin-top: 0;
}

.fh5co-service {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.fh5co-service h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.fh5co-service img {
  margin-bottom: 20px;
}

.textjustify {
  text-align: justify;  
}

/* Icon pentagon */
.fh5co-icon-pentagon {
  height: 24px;
  width: 40px;
  position: relative;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #FF5126;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-icon-pentagon:before {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: -10px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}
.fh5co-icon-pentagon:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: -10px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.fh5co-service-icon {
  height: 46px;
  width: 90px;
  margin-bottom: 60px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-service-icon:before {
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  top: -30px;
  border-bottom: 30px solid #FF5126;
}
.fh5co-service-icon:after {
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  bottom: -30px;
  border-top: 30px solid #FF5126;
}
.fh5co-service-icon i {
  font-size: 46px;
  line-height: 46px;
  color: #fff;
}

.fh5co-form-control:focus, .fh5co-form-control:active {
  outline: none;
  border: none;
}

.fh5co-form-locator {
  max-width: 500px;
  left: 50%;
  margin-left: -250px;
  position: absolute;
  background: #fff;
  padding: 20px !important;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  float: left;
}
.fh5co-form-locator .selectize-control {
  float: left;
  width: 32%;
  margin-right: 4px;
}
@media screen and (max-width: 768px) {
  .fh5co-form-locator {
    position: relative;
    margin-left: 0;
    left: 0;
    max-width: inherit !important;
    width: 100%;
  }
}
.fh5co-form-locator .input-field {
  margin-right: 2%;
  line-height: 1.5;
  padding: 11px 20px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.fh5co-form-locator .input-field:focus, .fh5co-form-locator .input-field:active {
  border: 1px solid #b3b3b3;
  outline: none;
}
.fh5co-form-locator input, .fh5co-form-locator select {
  margin: 0;
  width: 32%;
  float: left;
}
.fh5co-form-locator input[type="submit"] {
  width: 32%;
  background: #FCEDDA;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 13px 20px !important;
  border: none;
  float: right;
  font-size: 16px;
}
.fh5co-form-locator input[type="submit"]:hover, .fh5co-form-locator input[type="submit"]:focus, .fh5co-form-locator input[type="submit"]:active {
  background: #fdf4e8 !important;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 16px !important;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
}

.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 14px 10px 14px 15px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.fh5co-location-result-label {
  float: left;
  width: 50%;
  margin-top: 10px;
}

.fh5co-location-result-options {
  float: right;
  width: 50%;
}
.fh5co-location-result-options .input-field {
  width: 100%;
  line-height: 1.5;
  padding: 11px 20px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.fh5co-location-result-options .input-field:focus, .fh5co-location-result-options .input-field:active {
  border: 1px solid #b3b3b3;
  outline: none;
}
.fh5co-location-result-options .input-field.search {
  position: relative;
  background: transparent;
}
.fh5co-location-result-options .col-1, .fh5co-location-result-options .col-2, .fh5co-location-result-options .col-3 {
  float: left;
  vertical-align: middle;
}
.fh5co-location-result-options .col-1 {
  width: 10%;
  margin-right: 2%;
  margin-top: 10px;
}
.fh5co-location-result-options .col-2 {
  width: 22%;
  margin-right: 2%;
}
.fh5co-location-result-options .col-3 {
  float: right;
  width: 64%;
}

.fh5co-table .fh5co-social {
  margin-top: 10px;
}
.fh5co-table .fh5co-social li {
  float: left;
  margin-right: 10px;
}
.fh5co-table thead {
  background: #2595ff;
  color: #fff;
}
.fh5co-table thead tr th, .fh5co-table thead tr td {
  border-bottom: none;
}
.fh5co-table thead tr th {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.fh5co-table tbody tr th, .fh5co-table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.fh5co-table tbody tr:first-child th, .fh5co-table tbody tr:first-child td {
  border-top: none;
}

.owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.owl-dots .owl-dot > span {
  background: #FF5126 !important;
}
.owl-dots .owl-dot.active > span {
  background: transparent !important;
  border: 2px solid #FF5126;
}
.owl-dots .owl-dot:hover > span {
  background: transparent !important;
  border: 2px solid #FF5126;
}

#fh5co-footer {
  clear: both;
  borde-top: 1px solid #ccc;
  line-height: 1.5;
}
#fh5co-footer h3 {
  font-size: 20px;
}
#fh5co-footer .fh5co-footer-link {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-link li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  display: block;
}
#fh5co-footer .fh5co-copyright {
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}
#fh5co-footer .fh5co-copyright p {
  margin-bottom: 0px;
}
#fh5co-footer .fh5co-footer-widget {
  margin-bottom: 40px;
}

.fh5co-social {
  padding: 0;
  margin: 0;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li a {
  text-align: center;
  height: 30px;
  width: 30px;
  color: #fff;
  padding-top: 4px;
  text-decoration: none !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li.facebook a {
  background: #FF5126;
}
.fh5co-social li.twitter a {
  background: #FF5126;
}
.fh5co-social li.linkedin a {
  background: #FF5126;
}
.fh5co-social li.message a {
  background: #FF5126;
}

.img-bordered {
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.ul_style_1 {
  padding: 0;
  margin: 0;
}
.ul_style_1 li {
  padding: 0;
  padding-left: 30px;
  line-height: 1.5;
  margin: 0 0 10px 0;
  position: relative;
  list-style: none;
}
.ul_style_1 li:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e926";
  position: absolute;
  top: .1em;
  left: 0;
  font-size: 20px;
  color: #FF5126;
}

#fh5co-page, #fh5co-offcanvas {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

#fh5co-page {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas-visible #fh5co-page {
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  -o-transform: translateX(-275px);
  transform: translateX(-275px);
}

#fh5co-offcanvas {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  height: 100%;
  right: 0;
  overflow-y: scroll;
  z-index: 1003;
  top: 0;
  width: 275px;
  background: black;
  padding: 30px;
  -moz-transform: translateX(278px);
  -webkit-transform: translateX(278px);
  -ms-transform: translateX(278px);
  -o-transform: translateX(278px);
  transform: translateX(278px);
}
.offcanvas-visible #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    display: block;
  }
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  line-height: 28px;
}
#fh5co-offcanvas ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  float: left;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#fh5co-offcanvas ul li a:hover {
  color: #FF5126;
}
#fh5co-offcanvas ul li.active > a {
  color: #FF5126;
}
#fh5co-offcanvas ul li.has-sub.active > .drop-down-menu > a {
  color: #FF5126;
}
#fh5co-offcanvas ul li.cta {
  margin-left: 0;
  margin-top: 20px;
  display: block;
  float: left;
}
#fh5co-offcanvas ul li.cta a {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  background: #FCEDDA;
  border: 2px solid #FCEDDA;
  color: #fff !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-offcanvas ul li.cta a:hover {
  background: #fffdfb;
  border: 2px solid #fffdfb;
  text-decoration: none;
  color: #fff !important;
}
#fh5co-offcanvas ul li.cta a:hover:after {
  display: none;
}
#fh5co-offcanvas ul li .dropdown-menu-wrap ul {
  margin-top: 10px;
}
#fh5co-offcanvas ul li .dropdown-menu-wrap ul li {
  line-height: 1.2;
}
#fh5co-offcanvas ul li .dropdown-menu-wrap ul li a {
  padding-left: 30px;
}

.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #000;
}
.fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after {
  background: #000;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: relative;
  float: right;
  right: 0px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 10px;
  }
}

.owl-nav {
  position: absolute;
  top: 43%;
  width: 100%;
  height: 52px;
}
@media screen and (max-width: 768px) {
  .owl-nav {
    display: none;
  }
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
}
.owl-nav .owl-prev {
  left: 20px;
}
.owl-nav .owl-next {
  right: 20px;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  background: none !important;
  font-size: 26px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
  background: none;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i {
  background: none;
  font-size: 26px;
}

.fh5co-contact-info p, .fh5co-contact-info address {
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.padded-top {
  padding-top: 1.5em;
}
@media screen and (max-width: 768px) {
  .padded-top {
    padding-top: 0em;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
  border: 10px solid red;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

/*# sourceMappingURL=style.css.map */
